name: Publish Package to npmjs
on:
  workflow_dispatch:
  release:
    types: [created]
jobs:
  test:
    uses: ./.github/workflows/test.yml
  build:
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - uses: actions/checkout@v3
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          registry-url: "https://registry.npmjs.org"
      - run: yarn install
      - run: yarn dev:prepare
      - run: yarn npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
